/pepco.csv
/pge.csv
/pko.csv
/pzu.csv
/santander.csv
/aliorbank.csv
/aliorbank_clean.csv
/allegro.csv
/allegro_clean.csv
/budimex.csv
/ccc.csv
/cdprojekt_clean.csv
/dino_clean.csv
/grupakety.csv
/lpp.csv
/mbank.csv
/orange.csv
/pekao.csv
/zabka.csv
/budimex_clean.csv
/ccc_clean.csv
/cdprojekt_clean.csv
/dino_clean.csv
/grupakety_clean.csv
/lpp_clean.csv
/mbank_clean.csv
/orange_clean.csv
/orlen.csv
/orlen_clean.csv
/santander_clean.csv
/pzu_clean.csv
/pko_clean.csv
/pge_clean.csv
/pepco_clean.csv
/pekao_clean.csv
/zabka_clean.csv

